services:
  # A Docker web service
  - type: web
    name: File-Server-Backend
    runtime: docker
    repo: https://github.com/GideonAg/File-Server-Backend.git # optional
    region: oregon # optional (defaults to oregon)
    plan: free # optional (defaults to starter instance type)
    branch: main # optional (defaults to master)
    rootDir: File-Server-Backend
    numInstances: 1 # optional (defaults to 1)
    healthCheckPath: /